pkgbase = adfmt-git
	pkgdesc = Alfa's D Formatter development version
	pkgver = 0.3.5.r0.g845a9d3
	pkgrel = 1
	url = https://github.com/AlfaPC11/adfmt
	arch = x86_64
	license = BSL-1.0
	makedepends = dub
	makedepends = git
	makedepends = ldc
	depends = gcc-libs
	depends = glibc
	provides = adfmt
	conflicts = adfmt
	options = !debug
	source = adfmt::git+https://github.com/AlfaPC11/adfmt.git
	sha256sums = SKIP

pkgname = adfmt-git
