pkgbase = adfmt-git
	pkgdesc = Alfa's D Formatter with separate declaration and control-flow brace styles
	pkgver = 0.4.0.r0.g0000000
	pkgrel = 1
	epoch = 1
	url = https://github.com/AlfaPC11/adfmt
	arch = x86_64
	license = BSL-1.0
	makedepends = dub
	makedepends = git
	makedepends = ldc
	depends = gcc-libs
	depends = glibc
	provides = adfmt
	conflicts = adfmt
	options = !debug
	source = adfmt::git+https://github.com/AlfaPC11/adfmt.git
	sha256sums = SKIP

pkgname = adfmt-git
